body {
  background-color: black;
}
p {
  color: white;
  font-family: Arial;
  font-size: 15px;
}

.rps-title {
  font-size: 30px;
  font-weight: bold;
}

.rps-buttons {
  background-color: black;
  width: 100px;
  height: 100px;
  align-items: center;
  padding-top: 15px;
  margin-right: 20px;
  border: solid white 3px;
  border-radius: 50%;
  cursor: pointer;
}
.rps-img {
  width: 50px;
  height: 50px;
}